.hotel-booking-home-bg {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 4617px;
    top: -596px;
    left: -6212px;
    padding: 10px;
    padding-bottom: 0px;
    background: #222222;
}

