.footer {
    width: 100%;
    content: white;
    margin-bottom: 0px;
}

.footer-bg {
    height: 343px;
    flex-shrink: 0;
}

.footer-details {
    margin-top: 0px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: #FF7665CC;
    color: white;
}

.flexing-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexing-row {
    display: flex;
}

.app-icon {
    width: 16px;
    height: 16px;
    margin: 10px;
    flex-shrink: 0;
}